---
import Card from '../components/Card.astro'
import Base from '../layouts/base.astro'
import '../styles/base.css'

const posts = await Astro.glob('../posts/*.md')
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <Base title="Meu Blog">
      <main class="my-24 mx-5 flex flex-col items-center gap-6">
        {
          posts.map((post) => (
            <Card
              titulo={post.frontmatter.title}
              slug={post.frontmatter.slug}
              conteudo={post.frontmatter.resumo}
              imgSrc={post.frontmatter.imgSrc}
            />
          ))
        }
      </main>
    </Base>
  </body>
</html>
